<template>
    <!-- <div class="wrapper">
        <router-link to="/">Home</router-link>
        <router-link to="/donations">Donations</router-link>
        <router-link to="/blogs">Blogs</router-link>
        <div class="content-wrapper">
            <router-view></router-view>
        </div>
        <app-footer/>
    </div> -->
    <!-- App.vue -->

    <v-app>
    <v-navigation-drawer app v-model="drawer">
        <v-list-item v-if="!guest">

        </v-list-item>

        <div class="pa-2" v-if="!guest"></div>

        
        <!-- -->
    </v-navigation-drawer>

    <v-app-bar app>
        <!-- -->
    </v-app-bar>

    <!-- Sizes your content based upon application components -->
    <v-main>

        <!-- Provides the application the proper gutter -->
        <v-container fluid>

        <!-- If using vue-router -->
        <router-view></router-view>
        </v-container>
    </v-main>

    <v-footer app>
        @sanbercode 2020
        <!-- -->
    </v-footer>
    </v-app>
</template>

<script>
    export default {
        name: 'App',
        data: () => ({
            drawer:false,
            menus:[
                {title: 'Home', icon: 'mdi-home', route: '/'},
                {title: 'Campaigns', icon: 'mdi-hand-heart', route: '/campaigns'},
            ],
            guest:false,
        })
    }
</script>